.hero {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(8, 0, 58, 0.7), rgba(8, 0, 58, 0.7)),
    url("../../assets/hero.png");
  background-size: cover;
  background-position: center;
  color: var(--white);
  display: flex;
  justify-content: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;

  max-width: 800px;
}

.hero-text h1 {
  font-size: 3.75rem;
}

.hero-text p {
  max-width: 700px;
  margin: 10px auto 32px;
  line-height: 1.5;
}

.hero_btn {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.hero_btn img {
  width: 20px;
}
